<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">
  <display-name>LocalCoop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
        <web-resource-name>Admin pages</web-resource-name>
        <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
      <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
      <servlet-name>Processor</servlet-name>
      <servlet-class>com.sms.Processor</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Offer</servlet-name>
      <servlet-class>com.sms.Offer</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Redeem</servlet-name>
      <servlet-class>com.sms.Redeem</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Businesses</servlet-name>
      <servlet-class>com.sms.Businesses</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Feedback</servlet-name>
      <servlet-class>com.sms.Feedback</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>Prizes</servlet-name>
      <servlet-class>com.sms.Prizes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Processor</servlet-name>
    <url-pattern>/processor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Offer</servlet-name>
    <url-pattern>/offer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Redeem</servlet-name>
    <url-pattern>/redeem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Businesses</servlet-name>
    <url-pattern>/businesses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Prizes</servlet-name>
    <url-pattern>/prizes</url-pattern>
  </servlet-mapping>
</web-app>